@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  Radial-Gradient: #1f3756 to #141638 #2a46c0 #606e85;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

input {
  color: #000;
  outline: none;
  border: none;
  padding-left: 10px;
  width: 100%;
}
.App {
@apply bg-gradient-to-r from-[#1f3756] to-[#141638] 
text-[#fff] min-h-screen 
}

.top h1 {
  @apply text-5xl pt-5 mb-10
}

.App-header {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* .button{
  height: 40px;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
  font-size: 15px;
  width: fit-content;
  align-self: center;
} */

.button {
  @apply h-[40px] p-2 mt-5 mb-5 rounded cursor-pointer transition text-[15px] w-fit self-center border border-current hover:bg-[#2a46c0]
}

.button:hover{
  transform: scale(110%);
}

.set_wager {
  @apply flex flex-col 
}

.set_wager .button {
  @apply w-[100%]
}
.acceptOrDecline {
  @apply flex flex-col
}

.acceptOrDecline .button {
  @apply w-[100%]
}

.acceptOrDecline h2 {
  @apply text-[#606e85]
}

.Board {
  @apply w-[500px]  flex flex-col items-center 
}
.Board_header {
  @apply flex w-screen justify-around items-center rounded-lg p-5 relative
}

.score_board {
  @apply bg-[#fff] w-[100px] fixed sm:top-[30px] top-[100px]
}
.score1 {
  @apply sm:left-[30px] left-[15px]
}
.score2 {
  @apply sm:right-[30px] right-[80px]
}
.score_board h2 {
  @apply text-[#2a46c0] text-[20px]
}

.score_board h1 {
  @apply text-[#606e85] text-5xl pb-3
}

.fingers_board {
  position: relative;
  width: 350px;
  height: 350px;
  background-image: url(../public/images/hexa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}


@media only screen and (max-width: 600px) {
.fingers_board {
    width: 250px;
    height: 250px;
    /* display: none; */
  }
}
.fingers {
  @apply sm:w-[100px] w-[80px] sm:h-[100px] h-[80px] absolute sm:border-[20px] border-[15px] rounded-full bg-[#fff] text-[#000] hover:scale-125 transition-all
}

.finger {
  @apply sm:w-[100px] w-[80px] sm:h-[100px] h-[80px] border-[20px]  bg-[#fff] text-[#000] border-pink-600
}

.finger {
  border-radius: 50%;
}
.zero {
  @apply border-violet-800 sm:top-[-20px] top-[-30px] sm:left-[120px] left-[90px]
}

.one {
  @apply border-fuchsia-800 sm:left-[-20px] left-[-15px] sm:top-12 top-10
}

.two {
  @apply border-pink-600 sm:right-[-20px] right-[-15px] sm:top-12 top-10
}

.three {
  @apply border-rose-500 sm:top-[200px] top-[150px] sm:left-[-20px] left-[-15px]
}

.four {
  @apply border-indigo-400 sm:top-[200px] top-[150px] right-[-20px]
}

.five {
  @apply border-sky-500 sm:bottom-[-15px] bottom-[-15px] sm:left-[130px] left-[90px]
}

.roundOut {
  @apply flex flex-col justify-between items-center 
}

.roundOut p {
  @apply p-0
}

.block {
  @apply border-sky-50 opacity-75 hover:scale-100
}
/* .textarea{
  width: 500px;
  height: 300px;
  padding: 20px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.textarea {
  @apply  sm:w-[500px] w-[320px] lg:h-[300px] h-[200px] p-[20px] text-[#000] flex justify-center items-center
}